extends layout

block content
  h1 Tic Tac Toe
    .table-container
      table.board
        tr
          td.cell
          td.cell
          td.cell
          td.cell
          td.cell
        tr
          td.cell
          td.cell
          td.cell
          td.cell
          td.cell
        tr
          td.cell
          td.cell
          td.cell
          td.cell
          td.cell
        tr
          td.cell
          td.cell
          td.cell
          td.cell
          td.cell
        tr
          td.cell
          td.cell
          td.cell
          td.cell
          td.cell

    button#restart Restart
    script(src="javascripts/game.js")